<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>更新图书</title>
</head>
<body>
<form action="/bookstore/update_book/{{ book.id }} method='post'">
<p>
    书名：<input type="text" value="{{ book.title }}" disabled="disabled">
</p>
<p>
    出版社：<input type="text" value="{{ book.pub }}" >
    </p>
<p>
     定价：<input type="text" value="{{ book.price }}"name='price' >
</p>
<p>
        零售价：<input type="text" value="{{ book.market_price }}"name='market_price' >
</p>
<p >

</p>
</form>
</body>
</html>