body{background-color:rgb(199, 83, 174);
    text-align: center;
    color:cyan;
    font-size:88px;}
    #title{font-size: 30px}
    .red{
        color: aqua;
       font-size: 50
    }
    .center{
        t
    }